*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/start-bg-2.jpg);
    height: 150px;
    text-align: center;
    padding-top: 20px;
    font-size: 3.5vw;
}

nav {
    background-color: rgba(40, 74, 56, 0.826);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color: rgb(85, 98, 92);
}

nav li:first-child {
    margin-right: auto;
}

body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    align-items: center;
    color: rgb(196, 214, 209);
    background-color: rgb(20, 29, 25);
}

.background {
    background-image: url(assets/start-bg-2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #234032;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b7bbb9;
}

.contact-container h3 {
    margin-bottom: 20px;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #abd5be;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    margin: none;
    background-image: url(assets/start-bg-2.jpg);
    height: 175px;
    text-align: center;
    padding-top: 20px;
    font-size: 3rem;
}

footer h6 {
    font-size: 1.5rem;
}