*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("../assets/start-bg-2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.opening {
    flex-wrap: wrap;
    margin: 25px 50px;
    font-size: 1.5rem;
}

.opening h4 {
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
}

.opening p {
    margin-bottom: 20px;
}

.title {
    color: rgba(255, 255, 255, 0.667);
    position: absolute;
    top: 29%;
    left: 69%;
    transform: translate(-50%, -50%);
    padding: none;
    margin-top: 100px;
}

.h1 {
    font-family: angelicWar;
    font-size: 85px;
}

.h2 {
    font-size: 2rem;
    margin-left: 125px;
    margin-bottom: 200px;
    margin-top: 0%;
}

header {
    background-image: url("../assets/start-bg-2.jpg");
    height: 150px;
    text-align: center;
    padding-top: 20px;
    font-size: 3.5vw;
}

nav {
    background-color: rgba(40, 74, 56, 0.826);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color: rgb(85, 98, 92);
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}

nav li:first-child {
    margin-right: auto;
}

body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    align-items: center;
    color: rgb(196, 214, 209);
    background-color: rgb(20, 29, 25);
}

h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 4rem;
    color: #729c87;
}

.opening {
    text-align: justify;
    padding: 2px;
}

.class-container h5 {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
}

.card-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    flex-wrap: wrap;
    margin-top: 5px;
}

.card {
    width: 350px;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 350px;
    height: 196.875px;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px; 
    text-align: center;
}

.card-content p {
    color: #b7bbb9;
    font-size: 15px;
    line-height: 1.3;
    text-align: justify;
}

.video {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 96vw;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.home-footer {
    margin-top: 100px;
    background-image: url("../assets/start-bg-2.jpg");
    height: 175px;
    text-align: center;
    padding-top: 20px;
    font-size: 3rem;
}

footer h6 {
    font-size: 1.5rem;
}

footer {
    margin: none;
    background-image: url("../assets/start-bg-2.jpg");
    height: 175px;
    text-align: center;
    padding-top: 20px;
    font-size: 3rem;
}

@media screen and (max-width: 800px) {
    body {
    width: 100%; 
    }
    .hide {
        display: none;
    }
}

@font-face {
  font-family: angelicWar;
  src: url("../assets/fonts/angelic_war/AngelicWar.ttf");
}


